@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles (Optional) */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
  }

  @keyframes moveLeftToRight {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  